@using ProductLibrary;
@{
    Layout = "Layout/_Master.cshtml";
    Page.Title = "List of categories";

    //create a relative reference to the file where we are saving json
    string filePathCat = Util.CategoryPath;
    var categories = DBProvider.GetCategories(filePathCat);
}

<h1>Categories</h1>
<table>
    <tr>
        <th>Name</th>
    </tr>
    @foreach (Category cat in categories)
    {
        <tr>
            <td><a href="~/productList.cshtml?category=@cat.Name"> @cat.Name</a> </td>
        </tr>
    }
</table>

